Repository jlapenna/bikebuds: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-test, flutter-test, react-test

python-test:
  name: python-test
  entry: tools/scripts/run_python_tests.sh
  language: system
  pass_filenames: false

flutter-test:
  name: flutter-test
  entry: tools/scripts/run_flutter_tests.sh
  language: system
  pass_filenames: false

react-test:
  name: react-test
  entry: tools/scripts/run_react_tests.sh
  language: system
  pass_filenames: false

Flutter: Move screens to their own sub-directories
  flutter/lib/main_content.dart
  flutter/lib/main_screen.dart
  flutter/lib/pages/events/event_page.dart
  flutter/lib/pages/events/events_list.dart
  flutter/lib/pages/events/events_page.dart
  flutter/lib/pages/pages.dart
  flutter/lib/pages/settings/profile_card.dart
  flutter/lib/pages/settings/settings_page.dart
  flutter/test/pages/settings/profile_card_test.dart
Due: flutter-test

Flutter: remove unused variable
  flutter/lib/bikebuds_util.dart
Due: flutter-test

Flutter: Embed home inside a webview and use it as a page.
  flutter/lib/main_screen.dart
  flutter/lib/pages/home/home_page.dart
  flutter/lib/pages/home/web.dart
  flutter/lib/pages/pages.dart
  flutter/pubspec.yaml
Due: flutter-test

Web: Support "/embed" urls, so we can use them in the mobile app.
  gae/frontend/src/App.js
  gae/frontend/src/ClubAvatar.js
  gae/frontend/src/ClubAvatar.test.js
  gae/frontend/src/Embed.js
  gae/frontend/src/Main.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/ProfileCard.js
  gae/frontend/src/ProfileCard.test.js
  gae/frontend/src/Settings.js
Due: react-test

GAE: Rearrainge App routes to not use firebase for some URLs.
  gae/frontend/src/App.js
Due: react-test

GAE: Throw an exception if hash_name is passed no args.
  gae/shared/datastore/subscription.py
  gae/shared/datastore/test_subscription.py
Due: python-test

GAE: Return OK_SUB_EVENT_FALIED when withings cannot handle a received event.
  gae/frontend/services/withings/withings.py
  gae/frontend/test_main.py
  gae/shared/responses.py
Due: python-test

GAE: Print ===s between each python test run.
  tools/scripts/run_python_tests.sh
Due: none

GAE: Add test for SubscriptionEvent to ensure key name is used.
  gae/shared/datastore/test_subscription.py
Due: python-test

GAE: Log the exception when a sync worker fails.
  gae/backend/main.py
Due: python-test

Extract auth functionality into HoC AuthWrapper
  gae/frontend/src/App.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/SignInScreen.js
Due: react-test

Web: Update react, react-scripts, etc.
  gae/frontend/.eslintrc.json
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

Flutter: WebState interactions with Web auth.
  flutter/lib/pages/home/web.dart
Due: flutter-test

Web: Add trailing commas to javascript objects, etc.
  .prettierrc.yaml
  gae/frontend/src/ActivitiesListCard.js
  gae/frontend/src/ActivitiesWrapper.js
  gae/frontend/src/ActivityDetail.js
  gae/frontend/src/App.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/Club.js
  gae/frontend/src/ClubAvatar.js
  gae/frontend/src/DevicesFormControl.js
  gae/frontend/src/DrawerContent.js
  gae/frontend/src/Embed.js
  gae/frontend/src/EventDetail.js
  gae/frontend/src/Events.js
  gae/frontend/src/EventsListCard.js
  gae/frontend/src/FcmManager.js
  gae/frontend/src/Home.js
  gae/frontend/src/Main.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/MeasuresCard.js
  gae/frontend/src/MeasuresCard.test.js
  gae/frontend/src/MeasuresSummaryCard.js
  gae/frontend/src/MeasuresSummaryCard.test.js
  gae/frontend/src/MeasuresWrapper.js
  gae/frontend/src/PreferencesCard.js
  gae/frontend/src/PreferencesCard.test.js
  gae/frontend/src/ProfileCard.js
  gae/frontend/src/ProfileCard.test.js
  gae/frontend/src/ProfileWrapper.js
  gae/frontend/src/ServiceCard.js
  gae/frontend/src/Settings.js
  gae/frontend/src/SignInScreen.js
  gae/frontend/src/Signup.js
  gae/frontend/src/SignupStepper.js
  gae/frontend/src/StandaloneSignup.js
  gae/frontend/src/SwagWrapper.js
  gae/frontend/src/config.js
  gae/frontend/src/session_util.js
  gae/frontend/src/theme.js
Due: react-test

Web: Make testing a bit more like prod, by overriding config.json
  gae/frontend/src/firebase_util.js
  gae/frontend/src/setupTests.js
Due: react-test

Clean up AuthWrapper
  gae/frontend/src/App.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/Main.js
  gae/frontend/src/SwagWrapper.js
  gae/frontend/src/session_util.js
Due: react-test

Web: Add testing libraries
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

API: Add API call to generate a custom firebase auth token
  gae/api/main.py
  gae/shared/auth_util.py
Due: python-test

Web: Properly pass firebase auth object for DI
  gae/frontend/src/App.js
  gae/frontend/src/App.test.js
  gae/frontend/src/Embed.js
  gae/frontend/src/Events.js
  gae/frontend/src/Events.test.js
  gae/frontend/src/ProfileCard.js
  gae/frontend/src/ServiceCard.js
  gae/frontend/src/SignInScreen.test.js
  gae/frontend/src/SignupStepper.js
  gae/frontend/src/firebase_util.js
  gae/frontend/src/session_util.js
Due: react-test

Web: Improve App.js tests, mock SignInScreen and SwagWrapper.
  gae/frontend/.eslintrc.json
  gae/frontend/src/App.js
  gae/frontend/src/App.test.js
  gae/frontend/src/__mocks__/SignInScreen.js
  gae/frontend/src/__mocks__/SwagWrapper.js
  gae/frontend/src/setupTests.js
Due: react-test

Web: Do not trigger client updates when SwagWrappre is unmounted
  gae/frontend/src/SwagWrapper.js
Due: react-test

Web: Clean up logging.
  gae/frontend/src/ActivitiesListCard.js
  gae/frontend/src/ActivitiesWrapper.js
  gae/frontend/src/ActivityDetail.js
  gae/frontend/src/App.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/Club.js
  gae/frontend/src/DrawerContent.js
  gae/frontend/src/Embed.js
  gae/frontend/src/Events.js
  gae/frontend/src/EventsListCard.js
  gae/frontend/src/FcmManager.js
  gae/frontend/src/Home.js
  gae/frontend/src/Main.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/MeasuresCard.js
  gae/frontend/src/MeasuresSummaryCard.js
  gae/frontend/src/MeasuresWrapper.js
  gae/frontend/src/ProfileWrapper.js
  gae/frontend/src/ServiceCard.js
  gae/frontend/src/SignInScreen.js
  gae/frontend/src/SignupStepper.js
  gae/frontend/src/SwagWrapper.js
  gae/frontend/src/firebase_util.js
Due: react-test

Fix embed.
  gae/frontend/src/Embed.js
Due: react-test

Web: Migrate to @react-google-maps/api
  gae/frontend/package-lock.json
  gae/frontend/package.json
  gae/frontend/src/ActivityDetail.js
Due: react-test

Web: Update packages: firebase, react-firebaseui, react-moment, react-router-dom, react-scripts, typeface-roboto
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

Web: Fix eslint config in pre-commit config.
  .pre-commit-config.yaml
  gae/frontend/.eslintrc.json
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

Web: Properly pass firebase into ServiceCards
  gae/frontend/src/MainContent.js
  gae/frontend/src/Settings.js
Due: react-test

Web: Show weight trend, first.
  gae/frontend/src/Home.js
Due: react-test

Web: Add /auth/ handler and support for custom auth tokens.
  gae/frontend/src/App.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/Chrome.js
  gae/frontend/src/Embed.js
  gae/frontend/src/Main.js
Due: react-test

Flutter: Pass creds to web view and show an embedded Web UI.
  flutter/lib/app.dart
  flutter/lib/bikebuds_util.dart
  flutter/lib/loading.dart
  flutter/lib/pages/home/mobile_embed.dart
  flutter/lib/pages/home/web.dart
  flutter/lib/sign_in_screen.dart
  gae/frontend/src/App.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/session_util.js
Due: flutter-test, react-test

Flutter: Support AndroidX and proguard.
  flutter/android/app/build.gradle
  flutter/android/app/proguard-rules.pro
Due: none

Web: Show progress indicator when loading Main
  gae/frontend/src/Chrome.js
  gae/frontend/src/Main.js
Due: react-test

Web: Update npm packages
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

Web: Show a circular spinner until a profile is fetched.
  gae/frontend/src/Chrome.js
  gae/frontend/src/Main.js
Due: react-test

Web: Move Activities to the Events/Rides view
  gae/frontend/src/ActivitiesWrapper.js
  gae/frontend/src/Events.js
  gae/frontend/src/Home.js
  gae/frontend/src/MeasuresWrapper.js
Due: react-test

Web: Improve /embed behaviors.
  gae/frontend/src/App.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/Main.js
  gae/frontend/src/SpinnerScreen.js
Due: react-test

Path conditions:
  python-test: any of: \.(py)$
  flutter-test: any of: \.(dart)$
  react-test: any of: gae/frontend/src.*\.(js)$
