Repository jlapenna/bikebuds: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-test, flutter-test, react-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-test
        name: 'python-test'
        entry: tools/scripts/run_python_tests.sh
        language: system
        pass_filenames: false
        files: \.(py)$
      - id: flutter-test
        name: 'flutter-test'
        entry: tools/scripts/run_flutter_tests.sh
        language: system
        pass_filenames: false
        files: \.(dart)$
      - id: react-test
        name: 'react-test'
        entry: tools/scripts/run_react_tests.sh
        language: system
        pass_filenames: false
        files: gae/frontend/src.*\.(js)$
  - repo: https://github.com/Cretezy/flutter-format-pre-commit
    rev: 4a1df675bb74dea371c17934933e257e46f8dd98
    hooks:
      - id: flutter-format
        files: flutter/*.*dart$
  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.7
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier
        exclude: index\.yaml|\.(js|jsx|ts|tsx)$
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.0.0
    hooks:
      - id: eslint
        entry: ./gae/frontend/node_modules/.bin/eslint --fix
        files: \.(js|jsx|ts|tsx)$
        additional_dependencies:
          - babel-eslint
          - eslint
          - eslint-config-prettier
          - eslint-plugin-flowtype
          - eslint-plugin-react
          - eslint-plugin-import
          - eslint-plugin-flowtype
          - eslint-plugin-prettier
          - eslint-plugin-react-hooks
          - eslint-plugin-jsx-a11y
          - prettier
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        args: ['--extend-ignore=E203,E231']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

GAE: fix typo, activity_query -> query
  gae/shared/services/strava/club_worker.py
Due: python-test

GAE: Add get_uid_by_email to auth_util
  gae/shared/auth_util.py
Due: python-test

GAE: Update queues.sh for latest in task_util.py
  gae/queues.sh
  gae/shared/task_util.py
Due: python-test

GAE: Add support for Google accounts.
  gae/backend/main.py
  gae/backend/services/google/__init__.py
  gae/backend/services/google/google.py
  gae/frontend/main.py
  gae/frontend/services/google/__init__.py
  gae/frontend/services/google/google.py
  gae/local.sh
  gae/queues.sh
  gae/shared/config.py
  gae/shared/services/google/__init__.py
  gae/shared/services/google/client.py
  gae/shared/task_util.py
  notes.md
  tools/scripts/setup_gmail_push.py
Due: python-test

Web: Update caniuse
  gae/frontend/package-lock.json
Due: none

GAE: Work around withings auth by manipulating "expires_in."
  gae/frontend/services/withings/withings.py
  gae/shared/services/withings/client.py
Due: python-test

GAE: Clean up defaults for service.Service and user.User
  gae/backend/test_main.py
  gae/shared/datastore/bot.py
  gae/shared/datastore/service.py
  gae/shared/datastore/user.py
Due: python-test

GAE: Memoize firebase app initialization
  gae/shared/auth_util.py
  gae/shared/config.py
  gae/shared/fcm_util.py
  gae/shared/firebase_util.py
Due: python-test

Tools: Add more deps for ipython shell
  tools/setup/shell_requirements.txt
Due: none

Web: Add Web UI for connecting to a google account.
  gae/frontend/src/Admin.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/Settings.js
Due: react-test

GAE: Move SyncException to shared exceptions file.
  gae/backend/main.py
  gae/shared/exceptions.py
Due: python-test

GAE: Upgrade to python3.8 and update python deps.
  gae/api/app.yaml
  gae/api/requirements.txt
  gae/backend/app-local.yaml
  gae/backend/app.yaml
  gae/backend/requirements.txt
  gae/frontend/app-local.yaml
  gae/frontend/app.yaml
  gae/frontend/requirements.txt
Due: none

GAE: Extact sync helper do method into its own module.
  gae/backend/main.py
  gae/backend/sync_helper.py
Due: python-test

GAE: Initial support for extacting livetrack data from a livetrack URL.
  gae/backend/main.py
  gae/backend/requirements.txt
  gae/backend/services/garmin/garmin.py
  gae/backend/services/garmin/test_garmin.py
  gae/queues.sh
  gae/shared/responses.py
  gae/shared/task_util.py
Due: python-test

Web: Remove google from settings page
  gae/frontend/src/Settings.js
Due: react-test

GAE: Refactor backend to move handlers to individual modules
  gae/backend/main.py
  gae/backend/services/bbfitbit/bbfitbit.py
  gae/backend/services/garmin/garmin.py
  gae/backend/services/google/google.py
  gae/backend/services/slack/slack.py
  gae/backend/services/slack/test_slack.py
  gae/backend/services/strava/strava.py
  gae/backend/services/strava/test_strava.py
  gae/backend/services/withings/test_withings.py
  gae/backend/services/withings/withings.py
  gae/backend/xsync/__init__.py
  gae/backend/xsync/test_xsync.py
  gae/backend/xsync/xsync.py
  gae/frontend/services/strava/strava.py
  gae/frontend/services/withings/withings.py
  gae/shared/task_util.py
  tools/scripts/run_python_tests.sh
Due: python-test

GAE: Fix up module/blueprint url prefixing for frontend
  gae/frontend/main.py
  gae/frontend/services/bbfitbit/bbfitbit.py
  gae/frontend/services/google/google.py
  gae/frontend/services/slack/slack.py
  gae/frontend/services/slack/test_slack.py
  gae/frontend/services/strava/strava.py
  gae/frontend/services/strava/test_strava.py
  gae/frontend/services/withings/test_withings.py
  gae/frontend/services/withings/withings.py
  gae/frontend/test_main.py
Due: python-test

Web: Extract GarminServiceCard to a reusable user/pass card
  gae/frontend/src/Settings.js
  gae/frontend/src/UserPassServiceCard.js
  gae/frontend/src/UserPassServiceCard.test.js
Due: react-test

GAE: Add support for trainerroad accounts
  gae/api/bikebuds.py
  gae/api/models.py
  gae/backend/main.py
  gae/backend/requirements.txt
  gae/backend/services/trainerroad/__init__.py
  gae/backend/services/trainerroad/trainerroad.py
  gae/client/requirements.txt
  gae/frontend/requirements.txt
  gae/frontend/src/Settings.js
  gae/shared/services/trainerroad/__init__.py
  gae/shared/services/trainerroad/api.py
  gae/shared/services/trainerroad/client.py
Due: python-test, react-test

GAE: Sync withings weight to trainerroad
  gae/backend/xsync/xsync.py
Due: python-test

Tools: set_role.py: Fix cases where users do not have a pre-existing custom claim
  tools/scripts/set_role.py
Due: python-test

add github image asset
  assets/github.png
Due: none

GAE: Symmetrically encrypt passwords for 3rd party services
  gae/api/bikebuds.py
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/client/requirements.txt
  gae/frontend/requirements.txt
  gae/shared/config.py
  gae/shared/datastore/service.py
  gae/shared/fernet_util.py
  gae/shared/services/garmin/client.py
  gae/shared/services/trainerroad/client.py
  tools/setup/shell_requirements.txt
Due: python-test

GAE: Update frontend deps
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

GAE: Update PIP dependencies
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/frontend/requirements.txt
Due: none

Tools: Add cgrep alias for config file search
  tools/scripts/shell.sh
Due: none

GAE: Remove stackdriver support
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/frontend/requirements.txt
  gae/shared/stackdriver_util.py
Due: python-test

GAE: Fix logging.warn deprecation warning (use logging.warning)
  gae/backend/services/bbfitbit/bbfitbit.py
  gae/backend/services/google/google.py
  gae/backend/services/slack/slack.py
  gae/backend/services/strava/events_worker.py
  gae/backend/services/strava/strava.py
  gae/backend/services/trainerroad/trainerroad.py
  gae/backend/services/withings/withings.py
  gae/frontend/services/withings/withings.py
  gae/shared/auth_util.py
  gae/shared/services/strava/client.py
Due: python-test

GAE: Remove ID from withings measurement, client libraries enforce key name type to be a string
  gae/shared/datastore/withings/converters.py
Due: python-test

GAE: Update support for google credentials
  gae/api/admin.py
  gae/backend/services/google/google.py
  gae/frontend/services/google/google.py
  gae/frontend/src/Admin.js
  gae/frontend/src/ServiceCard.js
  gae/shared/auth_util.py
Due: python-test, react-test

GAE: Fix google sync support, do a full sync, initially.
  gae/api/admin.py
  gae/api/models.py
  gae/backend/services/google/google.py
  gae/shared/datastore/service.py
Due: python-test

GAE: Sync and store garmin live track info
  gae/backend/services/garmin/garmin.py
  gae/backend/services/garmin/test_garmin.py
  gae/shared/datastore/garmin/converters.py
  gae/shared/datastore/track.py
  gae/shared/task_util.py
Due: python-test

Tools: Add cgrep for config file search, remove package-lock from sgrep.
  tools/scripts/shell.sh
Due: none

GAE: log which part of the garmin session wasnt set
  gae/shared/services/garmin/client.py
Due: python-test
