Repository jlapenna/bikebuds: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-test, flutter-test, react-test

python-test:
  name: python-test
  entry: tools/scripts/run_python_tests.sh
  language: system
  pass_filenames: false

flutter-test:
  name: flutter-test
  entry: tools/scripts/run_flutter_tests.sh
  language: system
  pass_filenames: false

react-test:
  name: react-test
  entry: tools/scripts/run_react_tests.sh
  language: system
  pass_filenames: false

Flutter: Clean up auth loading for MobileEmbed
  flutter/lib/app.dart
  flutter/lib/bikebuds_util.dart
  flutter/lib/loading.dart
  flutter/lib/pages/home/mobile_embed.dart
  flutter/lib/user_model.dart
Due: flutter-test

Flutter: Move MobileWeb widget to widget directory
  flutter/lib/pages/home/home_page.dart
  flutter/lib/widgets/mobile_embed.dart
Due: flutter-test

Specify cat as the editor for npm start in devserver
  gae/local_devserver.sh
Due: none

Flutter: EmbedMobile directly in MainContent.
  flutter/lib/main_content.dart
  flutter/lib/pages/home/home_page.dart
Due: flutter-test

Flutter: Clean up logging
  flutter/lib/app.dart
  flutter/lib/bikebuds_util.dart
  flutter/lib/config.dart
  flutter/lib/firebase_util.dart
  flutter/lib/sign_in_screen.dart
Due: flutter-test

Web: Clean up logging for firebase_util
  gae/frontend/src/firebase_util.js
Due: react-test

Web: Rename Main to MainScreen
  gae/frontend/src/App.js
  gae/frontend/src/MainScreen.js
Due: react-test

MobileEmbed: Improve auth handling
  flutter/lib/main_content.dart
  flutter/lib/widgets/mobile_embed.dart
  gae/frontend/src/AuthWrapper.js
Due: flutter-test, react-test

Web: Move signup_complete redirection up into ProfileWrapper
  gae/frontend/src/MainContent.js
  gae/frontend/src/ProfileWrapper.js
Due: react-test

Web: Standardize style for Grids inside MainContent pages
  gae/frontend/src/Events.js
  gae/frontend/src/Home.js
  gae/frontend/src/MainScreen.js
  gae/frontend/src/Settings.js
  gae/frontend/src/SpinnerScreen.js
Due: react-test

Web: Rename test data to avoid XXX
  gae/frontend/src/setupTests.js
Due: react-test

Web: Remove unused theme param for style defn
  gae/frontend/src/Events.js
  gae/frontend/src/PreferencesCard.js
  gae/frontend/src/Signup.js
  gae/frontend/src/SpinnerScreen.js
Due: react-test

Web: Remove unnecessary div layer in app, main, sign-in screen
  gae/frontend/src/App.js
  gae/frontend/src/App.test.js
  gae/frontend/src/Main.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/SignInScreen.js
  gae/frontend/src/StandaloneSignup.js
  gae/frontend/src/__mocks__/SignInScreen.js
Due: react-test

Web: Clean up code for better MobileEmbed
  gae/frontend/src/App.js
  gae/frontend/src/App.test.js
  gae/frontend/src/Main.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/MobileEmbed.js
  gae/frontend/src/SpinnerScreen.js
Due: react-test

Flutter: Allow navigation between pages in an embed.
  flutter/lib/main_content.dart
  flutter/lib/main_screen.dart
  flutter/lib/pages/pages.dart
  flutter/lib/widgets/mobile_embed.dart
Due: flutter-test

Web: Do not update measures if unmounted
  gae/frontend/src/MeasuresWrapper.js
Due: react-test

Web: Clean up css for grids.
  gae/frontend/src/Events.js
  gae/frontend/src/Home.js
  gae/frontend/src/PreferencesCard.js
  gae/frontend/src/ServiceCard.js
  gae/frontend/src/Settings.js
Due: react-test

Web: Include app_id in fb config, dont load messaging before a signup
  gae/api/admin.py
  gae/frontend/src/FcmManager.js
  gae/frontend/src/config.js
Due: python-test, react-test

Web: Update material, react-scripts, router, firebase
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

Flutter: update deps, including firebase
  flutter/ios/Flutter/flutter_export_environment.sh
  flutter/lib/bikebuds_util.dart
  flutter/lib/sign_in_screen.dart
  flutter/pubspec.yaml
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/client/requirements.txt
  gae/frontend/index.yaml
  gae/frontend/requirements.txt
  gae/frontend/services/withings/withings.py
  gae/shared/datastore/series.py
  gae/shared/datastore/withings/converters.py
  gae/shared/services/withings/client.py
Due: python-test, flutter-test

Tools: Properly clean flutter
  tools/scripts/base.sh
Due: none

Web: Only enable fcm from within FcmManager
  gae/frontend/src/FcmManager.js
  gae/frontend/src/firebase_util.js
Due: react-test

Web: Support YCM for javascript
  gae/frontend/jsconfig.json
Due: none

Web: Restore disconnect API method and update ui.
  gae/api/main.py
  gae/frontend/src/ServiceCard.js
Due: python-test, react-test

GAE: Add API integration test and python api generation
  .gitignore
  gae/backend/.gitignore
  gae/client/requirements_test_integration.txt
  gae/client/test_integration.py
  gae/update_api.sh
  tools/scripts/run_integration_tests.sh
Due: python-test

GAE: Support vangorra/python_withings_api API changes
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/backend/services/withings/withings.py
  gae/client/requirements.txt
  gae/frontend/requirements.txt
  gae/frontend/services/withings/withings.py
  gae/shared/datastore/withings/converters.py
  gae/shared/services/withings/client.py
Due: python-test

GAE: Integration test for syncing
  gae/api/main.py
  gae/backend/main.py
  gae/client/test_integration.py
  gae/shared/datastore/service.py
  gae/shared/task_util.py
Due: python-test

Update all dependencies (all components)
  .pre-commit-config.yaml
  flutter/pubspec.yaml
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/client/requirements.txt
  gae/frontend/package-lock.json
  gae/frontend/package.json
  gae/frontend/requirements.txt
  tools/setup/dev.sh
Due: none

update integ test for successful
  gae/client/test_integration.py
Due: python-test

Flutter: Make navigation way faster through a Js Interface
  flutter/lib/pages/pages.dart
  flutter/lib/widgets/mobile_embed.dart
  gae/frontend/src/App.js
  gae/frontend/src/MainScreen.js
  gae/frontend/src/MobileEmbed.js
Due: flutter-test, react-test

fixup
  gae/backend/services/withings/withings.py
Due: python-test

GAE: Do not pass expires_at into withings service creds
  gae/shared/services/withings/client.py
Due: python-test

Web: render home nicer on mobile, no scrolling
  gae/frontend/src/Home.js
  gae/frontend/src/MeasuresCard.js
  gae/frontend/src/MeasuresSummaryCard.js
Due: react-test

GAE: silence some logs, only in prod.
  gae/shared/logging_util.py
Due: python-test

Web: Move EmbedChrome into Chrome.js
  gae/frontend/src/Chrome.js
  gae/frontend/src/MainScreen.js
Due: react-test

GAE: Allow integration test to save and use real credentials.
  gae/client/auth_helper.py
  gae/client/ds_helper.py
  gae/client/ipython.sh
  gae/client/requirements.txt
  gae/client/startup.py
  gae/client/test_integration.py
  tools/scripts/run_integration_tests.sh
Due: python-test

GAE: Uprev withings-api
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/client/requirements.txt
  gae/frontend/requirements.txt
Due: none

GAE: Withings refreshes receive credentials not dics, so convert.
  gae/api/main.py
  gae/shared/datastore/service.py
  gae/shared/services/withings/client.py
Due: python-test

GAE: Accept google and firebase id tokens as auth
  .gitignore
  gae/shared/auth_util.py
Due: python-test

Web: always give the connect button text: "" by default
  gae/frontend/src/ServiceCard.js
Due: react-test

Path conditions:
  python-test: any of: \.(py)$
  flutter-test: any of: \.(dart)$
  react-test: any of: gae/frontend/src.*\.(js)$
