Repository jlapenna/bikebuds: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-test, flutter-test, react-test

python-test:
  name: python-test
  entry: tools/scripts/run_python_tests.sh
  language: system
  pass_filenames: false

flutter-test:
  name: flutter-test
  entry: tools/scripts/run_flutter_tests.sh
  language: system
  pass_filenames: false

react-test:
  name: react-test
  entry: tools/scripts/run_react_tests.sh
  language: system
  pass_filenames: false

Tools: Update virtualenv for Ycm
  .ycm_extra_conf.py
Due: python-test

Tools: Update pre-commit deps
  .pre-commit-config.yaml
Due: none

GAE: Upgrade to py39
  gae/api/app.yaml
  gae/backend/app-local.yaml
  gae/backend/app.yaml
  gae/frontend/app-local.yaml
  gae/frontend/app.yaml
Due: none

GAE: include the raised exceptions error message in a sync failure
  gae/backend/sync_helper.py
Due: python-test

GAE: Use a unique name for the cookie storing our session string during oauth.
  gae/frontend/main.py
  gae/shared/auth_util.py
Due: python-test

GAE: Fix google sync support, do a full sync, initially.
  gae/api/admin.py
  gae/api/models.py
  gae/backend/services/google/google.py
  gae/frontend/services/google/google.py
  gae/shared/datastore/service.py
Due: python-test

GAE: Generate a timestamp for a withing measure's id/name rather than directly using an arrow.
  gae/shared/datastore/withings/converters.py
Due: python-test

GAE: Update support for google credentials
  gae/api/admin.py
  gae/backend/services/google/google.py
  gae/frontend/services/google/google.py
  gae/frontend/src/Admin.js
  gae/frontend/src/ServiceCard.js
  gae/shared/auth_util.py
Due: python-test, react-test

GAE: Update python dependencies
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/client/requirements.txt
  gae/frontend/main.py
  gae/frontend/requirements.txt
Due: python-test

GAE: fix gmail pubsub queue name
  gae/queues.sh
  gae/shared/task_util.py
Due: python-test

GAE: Silence google.auth.transport.requests log messages
  gae/shared/logging_util.py
Due: python-test

GAE: Add /ok handler to frontend/main.py
  gae/frontend/app.yaml
  gae/frontend/main.py
Due: python-test

GAE: Use custom logger for auth.
  gae/shared/auth_util.py
  gae/shared/logging_util.py
Due: python-test

GAE: Simplify logic making logging and more clear.
  gae/shared/auth_util.py
  gae/shared/responses.py
Due: python-test

GAE: Sync and store garmin live track info
  gae/backend/services/garmin/garmin.py
  gae/backend/services/garmin/test_garmin.py
  gae/shared/datastore/garmin/converters.py
  gae/shared/datastore/track.py
  gae/shared/task_util.py
Due: python-test

GAE: Stop handling users, admins, bots inconsistently.
  gae/api/admin.py
  gae/api/bikebuds.py
  gae/backend/services/garmin/garmin.py
  gae/backend/services/google/google.py
  gae/frontend/main.py
  gae/frontend/services/bbfitbit/bbfitbit.py
  gae/frontend/services/google/google.py
  gae/frontend/services/strava/strava.py
  gae/frontend/services/withings/withings.py
  gae/frontend/src/Admin.js
  gae/frontend/src/AdminStravaAuth.js
  gae/frontend/src/ServiceCard.js
  gae/shared/auth_util.py
  gae/shared/datastore/strava/converters.py
  gae/shared/logging_util.py
Due: python-test, react-test

GAE: Fix the withings measures call, pass startdate, enddate
  gae/backend/services/withings/withings.py
  gae/shared/datastore/withings/converters.py
Due: python-test

GAE: add client/requirements.txt to the integration test script.
  tools/scripts/run_integration_tests.sh
Due: none

Web: fix ServiceCard test
  gae/frontend/src/ServiceCard.test.js
Due: react-test

GAE: Run shared tests when running python tests
  gae/shared/__init__.py
  gae/shared/environments/env
  tools/scripts/base.sh
  tools/scripts/run_python_tests.sh
  tools/scripts/shell.sh
Due: python-test

GAE: Move non-private material out of service_keys
  gae/backend/services/slack/util.py
  gae/frontend/src/firebase-web-next.json
  gae/frontend/src/firebase-web.json
  gae/frontend/src/slack.json
  gae/shared/config.py
Due: python-test

GAE: Add helper responses.assertResponse and update some tests
  gae/api/test_main.py
  gae/backend/services/garmin/test_garmin.py
  gae/backend/services/strava/test_strava.py
  gae/backend/services/withings/test_withings.py
  gae/backend/test_main.py
  gae/frontend/services/strava/test_strava.py
  gae/frontend/services/withings/test_withings.py
  gae/frontend/test_main.py
  gae/shared/responses.py
Due: python-test

GAE: Improve logging
  gae/api/main.py
  gae/backend/main.py
  gae/frontend/main.py
  gae/shared/logging_util.py
Due: python-test

GAE: Temporarily remove GCP claims verification.
  gae/api/bikebuds.py
  gae/backend/services/garmin/garmin.py
  gae/backend/services/google/google.py
  gae/shared/auth_util.py
Due: python-test

GAE: remove /services/redirect handler and directly redirect
  gae/frontend/main.py
  gae/frontend/services/bbfitbit/bbfitbit.py
  gae/frontend/services/google/google.py
  gae/frontend/services/strava/strava.py
  gae/frontend/services/withings/withings.py
Due: python-test

GAE: Support slack via oauth
  gae/api/admin.py
  gae/backend/services/slack/slack.py
  gae/backend/services/slack/test_slack.py
  gae/backend/services/slack/unfurl_activity.py
  gae/frontend/requirements.txt
  gae/frontend/services/slack/__init__.py
  gae/frontend/services/slack/slack.py
  gae/frontend/services/slack/test_slack.py
  gae/frontend/src/Admin.js
  gae/frontend/src/SlackCard.js
  gae/shared/datastore/slack.py
  gae/shared/requirements.txt
  gae/shared/services/slack/__init__.py
  gae/shared/services/slack/installation_store.py
  gae/shared/services/slack/state_store.py
  gae/shared/services/slack/test_installation_store.py
  gae/shared/services/slack/test_state_store.py
  gae/shared/slack_util.py
  gae/shared/task_util.py
Due: python-test, react-test

GAE: Fix unfurls that dont have a twitter description
  gae/backend/services/slack/test_unfurl_activity.py
  gae/backend/services/slack/testutil.py
  gae/backend/services/slack/unfurl_activity.py
Due: python-test

GAE: Make task names consistent
  gae/api/bikebuds.py
  gae/backend/main.py
  gae/backend/services/garmin/garmin.py
  gae/backend/services/garmin/test_garmin.py
  gae/backend/services/google/google.py
  gae/backend/services/slack/slack.py
  gae/backend/services/strava/strava.py
  gae/backend/services/strava/test_strava.py
  gae/backend/services/withings/test_withings.py
  gae/backend/services/withings/withings.py
  gae/backend/xsync/xsync.py
  gae/frontend/services/slack/slack.py
  gae/shared/task_util.py
Due: python-test

GAE: rename slack test_util to testing_util
  gae/backend/services/slack/test_unfurl_activity.py
  gae/backend/services/slack/test_unfurl_route.py
  gae/backend/services/slack/test_util.py
  gae/backend/services/slack/testing_util.py
Due: python-test

GAE: remove unused JSONPretty dep from SlackCard.js
  gae/frontend/src/SlackCard.js
Due: react-test

GAE: Swallow and log strava unknown object/resource exceptions
  gae/backend/services/slack/unfurl_route.py
Due: python-test

GAE: Update NPM dependencies
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

Tools: Move -o prefix to the line its related to in grep aliases
  tools/scripts/shell.sh
Due: none

GAE: Fix parsing errors for https://www.strava.com/activities/5311420167
  gae/backend/services/slack/templates.py
  gae/backend/services/slack/test_unfurl_activity.py
  gae/backend/services/slack/test_unfurl_route.py
  gae/backend/services/slack/unfurl_activity.py
  gae/backend/services/slack/unfurl_route.py
Due: python-test

Fix integration test secrets file path
  gae/client/auth_helper.py
Due: python-test

GAE: Send appli weight param when subscribing to withings.
  gae/backend/services/withings/withings.py
  gae/shared/logging_util.py
  gae/shared/services/withings/client.py
Due: python-test

Tools: gitignore files that match /.credentials*
  .gitignore
Due: none

GAE: sed replace 37 in dev_appserver.py
  gae/local.sh
Due: none

Rename shell_requirements.txt to dev_requirements.txt
  tools/setup/dev.sh
  tools/setup/dev_requirements.txt
Due: none

GAE: improve logging output performance
  gae/shared/logging_util.py
Due: python-test

Path conditions:
  python-test: any of: \.(py)$
  flutter-test: any of: \.(dart)$
  react-test: any of: gae/frontend/src.*\.(js)$
