Repository jlapenna/bikebuds: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-test, flutter-test, react-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-test
        name: 'python-test'
        entry: tools/scripts/run_python_tests.sh
        language: system
        pass_filenames: false
        files: \.(py)$
      - id: flutter-test
        name: 'flutter-test'
        entry: tools/scripts/run_flutter_tests.sh
        language: system
        pass_filenames: false
        files: \.(dart)$
      - id: react-test
        name: 'react-test'
        entry: tools/scripts/run_react_tests.sh
        language: system
        pass_filenames: false
        files: gae/frontend/src.*\.(js)$
  - repo: https://github.com/Cretezy/flutter-format-pre-commit
    rev: 4a1df675bb74dea371c17934933e257e46f8dd98
    hooks:
      - id: flutter-format
        files: flutter/*.*dart$
  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.7
  - repo: https://github.com/prettier/prettier
    rev: 1.19.1
    hooks:
      - id: prettier
        exclude: index\.yaml|\.(js|jsx|ts|tsx)$
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.8.0
    hooks:
      - id: eslint
        entry: ./gae/frontend/node_modules/.bin/eslint --fix
        files: \.(js|jsx|ts|tsx)$
        additional_dependencies:
          - babel-eslint
          - eslint
          - eslint-config-prettier
          - eslint-plugin-flowtype
          - eslint-plugin-react
          - eslint-plugin-import
          - eslint-plugin-flowtype
          - eslint-plugin-prettier
          - eslint-plugin-react-hooks
          - eslint-plugin-jsx-a11y
          - prettier
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
      - id: flake8
        args: ['--extend-ignore=E203,E231']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-yaml
      - id: detect-private-key

Flutter: Update dependencies
  flutter/ios/Flutter/flutter_export_environment.sh
  flutter/lib/main_content.dart
  flutter/lib/main_screen.dart
  flutter/lib/pages/measures/charts_workarounds.dart
  flutter/lib/pages/measures/measures_chart.dart
  flutter/lib/pages/measures/measures_state.dart
  flutter/pubspec.lock
  flutter/pubspec.yaml
  flutter/web/index.html.tmpl
  gae/frontend/index.yaml
Due: flutter-test

Web: Specify correct propTypes for EmbedChrome.
  gae/frontend/src/Chrome.js
Due: react-test

Web: Fix /signup redirect, moving it up the stack
  gae/frontend/src/MainContent.js
  gae/frontend/src/MainScreen.js
  gae/frontend/src/ProfileCard.js
Due: react-test

Flutter: Fix fake user auth and client token registration
  flutter/lib/app.dart
  flutter/lib/bikebuds_api_state.dart
  flutter/lib/fake_user_wrapper.dart
  flutter/lib/firebase_user_wrapper.dart
  flutter/lib/firebase_util.dart
Due: flutter-test

Tools: update pre-commit
  .pre-commit-config.yaml
Due: none

Web: Make fake user more apparant in profile
  gae/frontend/src/AuthWrapper.js
Due: react-test

Flutter: Fix measures storage
  flutter/lib/app.dart
  flutter/lib/firebase_messaging.dart
  flutter/lib/pages/measures/measures_chart.dart
  flutter/lib/pages/measures/measures_page.dart
  flutter/lib/pages/measures/measures_state.dart
  flutter/lib/storage/entity_storage.dart
  flutter/lib/storage/storage.dart
  flutter/pubspec.yaml
  flutter/test/pages/measures/measures_chart_test.dart
Due: flutter-test

GAE: Fix withings tests that cause run_python_tests to hang.
  gae/backend/services/withings/test_withings.py
Due: python-test

GAE: Add tool to generate strava models
  tools/scripts/gen_models.py
Due: python-test

GAE: Add SegmentEffort models
  gae/api/models.py
  gae/backend/services/strava/strava.py
  gae/shared/datastore/segment_effort.py
  gae/shared/datastore/strava/converters.py
Due: python-test

Update NPM packages
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

Update python dependencies
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/frontend/requirements.txt
Due: none

Update flutter
  flutter/android/app/build.gradle
  flutter/android/app/src/main/AndroidManifest.xml
  flutter/android/app/src/main/java/cc/bikebuds/Application.java
  flutter/android/app/src/main/kotlin/cc/bikebuds/MainActivity.kt
  flutter/android/build.gradle
  flutter/android/gradle/wrapper/gradle-wrapper.properties
  flutter/lib/firebase_user_wrapper.dart
  flutter/lib/firebase_util.dart
  flutter/lib/pages/events/event_page.dart
  flutter/lib/pages/events/events_list.dart
  flutter/pubspec.lock
  flutter/pubspec.yaml
Due: flutter-test

Make setup/dev.sh executable
  tools/setup/dev.sh
Due: none

Fix positional arg passing for cloud tasks create_task API
  gae/shared/credentials.py
  gae/shared/task_util.py
Due: python-test

Deal with updated GAE deps
  gae/local.sh
  gae/shared/credentials.py
  gae/shared/ds_util.py
  gae/shared/logging_util.py
  gae/shared/task_util.py
  tools/setup/dev.sh
Due: python-test

Insert a fragment to avoid a forward ref warning in GarminServiceCard.js
  gae/frontend/src/GarminServiceCard.js
Due: react-test

Deal with updated GAE deps and startup changes.
  .ycm_extra_conf.py
  gae/backend/app-local.yaml
  gae/local.sh
  gae/local_devserver.sh
  gae/shared/credentials.py
  gae/shared/ds_util.py
  gae/shared/logging_util.py
  gae/shared/task_util.py
  tools/scripts/run_python_tests.sh
  tools/setup/dev.sh
Due: python-test

Tools: Update pre-commit checks versions
  .pre-commit-config.yaml
Due: none

Tools: Update all dependencies
  gae/api/requirements.txt
  gae/backend/main.py
  gae/backend/requirements.txt
  gae/frontend/main.py
  gae/frontend/package-lock.json
  gae/frontend/package.json
  gae/frontend/requirements.txt
  gae/frontend/services/withings/withings.py
  gae/shared/fcm_util.py
  gae/shared/logging_util.py
  gae/shared/services/withings/client.py
  gae/shared/task_util.py
  tools/setup/dev.sh
Due: python-test

GAE: Ignore an invalid garmin session state
  gae/shared/services/garmin/client.py
Due: python-test

Web: Show sync status
  gae/frontend/src/GarminServiceCard.js
  gae/frontend/src/ServiceCard.js
Due: react-test

GAE: Allow a key to be used to delete any resource
  gae/api/admin.py
  gae/shared/ds_util.py
Due: python-test

GAE: Fix delete operation
  gae/api/admin.py
Due: python-test

Tools: Update formating from latest formatters
  flutter/lib/app.dart
  gae/api/models.py
  gae/backend/services/slack/test_slack.py
  gae/backend/services/slack/unfurl_activity.py
  gae/backend/services/strava/events_worker.py
  gae/backend/services/strava/test_events_worker.py
  gae/backend/services/withings/test_withings.py
  gae/frontend/public/index.html
  gae/frontend/services/slack/slack.py
  gae/shared/datastore/strava/converters.py
  gae/shared/services/garmin/client.py
  gae/shared/task_util.py
  notes.md
Due: python-test, flutter-test

GAE: Add support for different roles and disallow users with no roles
  gae/frontend/src/Admin.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/DrawerContent.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/ProfileCard.js
  gae/shared/auth_util.py
  tools/scripts/set_role.py
Due: python-test, react-test

Web: Split up admin interface
  gae/frontend/src/Admin.js
  gae/frontend/src/AdminStravaAuth.js
  gae/frontend/src/AdminStravaClubs.js
  gae/frontend/src/AdminUsers.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/session_util.js
Due: react-test

Tools: Update make_admin tool
  gae/client/auth_helper.py
  notes.md
Due: python-test

Tools: Scripts to delete old users
  tools/scripts/delete_users.py
  tools/scripts/set_role.py
  tools/setup/shell_requirements.txt
Due: python-test

GAE: Fix up python tests that started failing due to more datastore calls.
  gae/backend/test_main.py
Due: python-test

GAE: Stop uploading cached files
  gae/frontend/.gitignore
Due: none

GAE: Set sync_state if it doesnt already exist on the service
  gae/shared/datastore/service.py
Due: python-test
