Repository jlapenna/bikebuds: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-test, flutter-test, react-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-test
        name: 'python-test'
        entry: tools/scripts/run_python_tests.sh
        language: system
        pass_filenames: false
        files: \.(py)$
      - id: flutter-test
        name: 'flutter-test'
        entry: tools/scripts/run_flutter_tests.sh
        language: system
        pass_filenames: false
        files: \.(dart)$
      - id: react-test
        name: 'react-test'
        entry: tools/scripts/run_react_tests.sh
        language: system
        pass_filenames: false
        files: gae/frontend/src.*\.(js)$
  - repo: https://github.com/Cretezy/flutter-format-pre-commit
    rev: 4a1df675bb74dea371c17934933e257e46f8dd98
    hooks:
      - id: flutter-format
        files: flutter/*.*dart$
  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.7
  - repo: https://github.com/prettier/prettier
    rev: 2.0.5
    hooks:
      - id: prettier
        exclude: index\.yaml|\.(js|jsx|ts|tsx)$
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.0.0
    hooks:
      - id: eslint
        entry: ./gae/frontend/node_modules/.bin/eslint --fix
        files: \.(js|jsx|ts|tsx)$
        additional_dependencies:
          - babel-eslint
          - eslint
          - eslint-config-prettier
          - eslint-plugin-flowtype
          - eslint-plugin-react
          - eslint-plugin-import
          - eslint-plugin-flowtype
          - eslint-plugin-prettier
          - eslint-plugin-react-hooks
          - eslint-plugin-jsx-a11y
          - prettier
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.1
    hooks:
      - id: flake8
        args: ['--extend-ignore=E203,E231']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.0.1
    hooks:
      - id: check-yaml
      - id: detect-private-key

Tools: Remove hack to rewrite py factory in local.sh
  gae/local.sh
Due: none

GAE: Update dependencies (web, servers)
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/client/requirements.txt
  gae/frontend/package-lock.json
  gae/frontend/package.json
  gae/frontend/requirements.txt
  gae/shared/requirements.txt
  notes.md
Due: none

Web: Fix date on activity, segment, route list items
  gae/frontend/src/ActivitiesListCard.js
  gae/frontend/src/RoutesListCard.js
  gae/frontend/src/SegmentsListCard.js
Due: react-test

Tools: Initial vscode config
  .vscode/settings.json
Due: none

GAE: store a datetime of a live track start/stop
  gae/backend/services/garmin/garmin.py
Due: python-test

Tools: Use proper interpreter path when inside gae directories
  gae/.ycm_extra_conf.py
  gae/api/.ycm_extra_conf.py
  gae/backend/.ycm_extra_conf.py
  gae/client/.ycm_extra_conf.py
  gae/frontend/.ycm_extra_conf.py
  gae/shared/.ycm_extra_conf.py
Due: python-test

GAE: Limit gmail full sync to 100 messages, to avoid large batches (max 100).
  gae/backend/services/google/google.py
Due: python-test

GAE: Publish live tracks to slack.
  gae/backend/services/garmin/garmin.py
  gae/backend/services/garmin/test_garmin.py
  gae/backend/services/google/google.py
  gae/backend/services/slack/slack.py
  gae/backend/services/slack/test_track_blocks.py
  gae/backend/services/slack/testing_util.py
  gae/backend/services/slack/track_blocks.py
  gae/shared/task_util.py
Due: python-test

Tools: Update scripts, fix some path bugs
  firebase/deploy.sh
  flutter/release.sh
  gae/client/ipython.sh
  gae/deploy.sh
  gae/local.sh
  gae/local_datastore.sh
  gae/local_service.sh
  gae/queues.sh
  gae/update_api.sh
  tools/scripts/base.sh
  tools/scripts/run_flutter_tests.sh
  tools/scripts/run_integration_tests.sh
  tools/scripts/run_python_tests.sh
  tools/scripts/run_react_tests.sh
  tools/scripts/shell.sh
  tools/setup/dev.sh
  tools/setup/env.sh
  tools/test_scripts/send_strava_create_activity_event.sh
  tools/test_scripts/send_withings_event.sh
Due: none

GAE: Remove bikebuds-next integration we can use RT database in the future, w/o firestore.
  firebase/bikebuds-next/.firebaserc
  firebase/bikebuds-next/.gitignore
  firebase/bikebuds-next/build
  firebase/bikebuds-next/firebase.json
  firebase/bikebuds-next/firestore.indexes.json
  firebase/bikebuds-next/firestore.rules
  firebase/bikebuds-test-next/.firebaserc
  firebase/bikebuds-test-next/.gitignore
  firebase/bikebuds-test-next/build
  firebase/bikebuds-test-next/firebase.json
  firebase/bikebuds-test-next/firestore.indexes.json
  firebase/bikebuds-test-next/firestore.rules
  firebase/deploy.sh
  flutter/release.sh
  gae/frontend/src/App.js
  gae/frontend/src/App.test.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/SignInScreen.js
  gae/frontend/src/config.js
  gae/frontend/src/firebase-web-next.json
  gae/frontend/src/firebase_util.js
  gae/frontend/src/setupTests.js
Due: react-test

GAE: Fix API model for service settings
  gae/api/models.py
Due: python-test

Web: Clean up neglected admin UI, errors, etc.
  gae/frontend/package-lock.json
  gae/frontend/package.json
  gae/frontend/src/Activities.js
  gae/frontend/src/Activities.test.js
  gae/frontend/src/Admin.js
  gae/frontend/src/AdminStravaClubs.js
  gae/frontend/src/AdminUsers.js
  gae/frontend/src/App.js
  gae/frontend/src/App.test.js
  gae/frontend/src/Club.js
  gae/frontend/src/DrawerContent.js
  gae/frontend/src/Events.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/ProfileCard.js
  gae/frontend/src/Routes.js
  gae/frontend/src/Routes.test.js
  gae/frontend/src/Segments.js
  gae/frontend/src/Segments.test.js
  gae/frontend/src/ServiceCard.js
  gae/frontend/src/SignInScreen.js
  gae/frontend/src/SlackCard.js
  gae/frontend/src/SpinnerScreen.js
  gae/frontend/src/UserPassServiceCard.js
  gae/frontend/src/UserPassServiceCard.test.js
  gae/frontend/src/theme.js
Due: react-test

GAE: Add a nightly google service bot cron job to ensure watch pubsub is maintained
  gae/api/admin.py
  gae/deploy.sh
  gae/frontend/cron.yaml
  gae/shared/auth_util.py
Due: python-test

Fix order of assertResponse paramters and improve type checking
  gae/api/test_main.py
  gae/backend/services/garmin/test_garmin.py
  gae/backend/services/slack/test_slack.py
  gae/backend/services/strava/test_strava.py
  gae/backend/services/withings/test_withings.py
  gae/backend/test_main.py
  gae/frontend/services/slack/test_slack.py
  gae/frontend/services/strava/test_strava.py
  gae/frontend/services/withings/test_withings.py
  gae/frontend/test_main.py
  gae/shared/responses.py
Due: python-test

Update test running scripts to better handle failures.
  tools/scripts/run_integration_tests.sh
  tools/scripts/run_python_tests.sh
Due: none

Update react and python dependencies.
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/frontend/package-lock.json
  gae/frontend/requirements.txt
  gae/frontend/services/slack/test_slack.py
  gae/shared/requirements.txt
Due: python-test

Web: Reduce amount of console output in tests, update deprecated apis
  gae/frontend/src/App.test.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/SlackCard.js
  gae/frontend/src/UserPassServiceCard.js
  gae/frontend/src/__mocks__/SignInScreen.js
  gae/frontend/src/__mocks__/SwagWrapper.js
Due: react-test

Update pre-commit
  .pre-commit-config.yaml
Due: none

Return FORBIDDEN if the user has no auth claims.
  gae/shared/auth_util.py
Due: python-test

Set dev environment by default when running env.sh
  tools/setup/env.sh
Due: none

Create the environments directory if it does not exist
  tools/setup/env.sh
Due: none

Pull private repos during env setup.
  tools/setup/env.sh
Due: none

Rename env.sh to make clear its setting up env repos, not shell environments
  tools/setup/env_repos.sh
Due: none

Update python dependencies
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/frontend/requirements.txt
  gae/shared/requirements.txt
Due: none

Install requirements for dev_appserver environment during dev.sh
  gae/local.sh
  tools/setup/dev.sh
Due: none

Update npm requirements
  gae/frontend/package-lock.json
Due: none

Reduce Activities index size by always sorting -start_date
  gae/api/bikebuds.py
  gae/backend/services/strava/events_worker.py
  gae/shared/services/strava/club_worker.py
Due: python-test

disable roles when disable flag is passed.
  tools/scripts/set_role.py
Due: python-test

Update pre-commit python version to 3.10
  .pre-commit-config.yaml
Due: none

update caniuse in frontend
  gae/frontend/package-lock.json
Due: none

Remove git foo in deploy.sh
  gae/deploy.sh
Due: none

Support strava branding guidelines
  gae/frontend/src/DrawerContent.js
  gae/frontend/src/SignInScreen.js
  gae/frontend/src/SignupStepper.js
  gae/frontend/src/strava-button.png
  gae/frontend/src/strava-logo.png
Due: react-test
