Repository jlapenna/bikebuds: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-test, flutter-test, react-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-test
        name: 'python-test'
        entry: tools/scripts/run_python_tests.sh
        language: system
        pass_filenames: false
        files: \.(py)$
      - id: flutter-test
        name: 'flutter-test'
        entry: tools/scripts/run_flutter_tests.sh
        language: system
        pass_filenames: false
        files: \.(dart)$
      - id: react-test
        name: 'react-test'
        entry: tools/scripts/run_react_tests.sh
        language: system
        pass_filenames: false
        files: gae/frontend/src.*\.(js)$
  - repo: https://github.com/Cretezy/flutter-format-pre-commit
    rev: 4a1df675bb74dea371c17934933e257e46f8dd98
    hooks:
      - id: flutter-format
        files: flutter/*.*dart$
  - repo: https://github.com/python/black
    rev: 19.10b0
    hooks:
      - id: black
        language_version: python3.7
  - repo: https://github.com/prettier/prettier
    rev: 1.19.1
    hooks:
      - id: prettier
        exclude: index\.yaml|\.(js|jsx|ts|tsx)$
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.8.0
    hooks:
      - id: eslint
        entry: ./gae/frontend/node_modules/.bin/eslint --fix
        files: \.(js|jsx|ts|tsx)$
        additional_dependencies:
          - babel-eslint
          - eslint
          - eslint-config-prettier
          - eslint-plugin-flowtype
          - eslint-plugin-react
          - eslint-plugin-import
          - eslint-plugin-flowtype
          - eslint-plugin-prettier
          - eslint-plugin-react-hooks
          - eslint-plugin-jsx-a11y
          - prettier
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
      - id: flake8
        args: ['--extend-ignore=E203,E231']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-yaml
      - id: detect-private-key

GAE: compare_segments API, fetch elevation detail via gmaps
  gae/api/bikebuds.py
  gae/api/models.py
  gae/backend/requirements.txt
  gae/backend/services/strava/strava.py
  gae/shared/datastore/strava/converters.py
  gae/shared/googlemaps_util.py
Due: python-test

Web: Elevation charts
  gae/frontend/src/CompareSegments.js
  gae/frontend/src/ElevationChart.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/SegmentDetail.js
Due: react-test

GAE: Streamline how events are processed.
  gae/backend/main.py
  gae/backend/services/strava/events_worker.py
  gae/backend/services/strava/test_events_worker.py
  gae/backend/services/withings/weight_trend_notif.py
  gae/backend/services/withings/withings.py
  gae/backend/test_main.py
  gae/frontend/index.yaml
  gae/frontend/services/strava/strava.py
  gae/frontend/services/withings/withings.py
  gae/frontend/test_main.py
  gae/shared/fcm_util.py
  gae/shared/task_util.py
Due: python-test

GAE: ignore logs from EntityCollection
  gae/shared/logging_util.py
Due: python-test

GAE: downgrade exception about invalid withings callback url
  gae/frontend/services/withings/withings.py
Due: python-test

Tools: remove flutter relase target in release.sh
  flutter/release.sh
Due: none

Flutter: Upgrade charts_flutter to 0.9.0
  flutter/pubspec.lock
  flutter/pubspec.yaml
Due: none

Tools: Run local.sh in a virtualenv
  gae/local.sh
Due: none

Tools: Use a virtualenv while in the shell
  tools/scripts/shell.sh
  tools/setup/dev.sh
  tools/setup/env.sh
  tools/setup/shell_requirements.txt
Due: none

GAE: Discard duplicate withings events.
  gae/backend/services/withings/test_withings.py
  gae/backend/services/withings/withings.py
  gae/backend/test_main.py
Due: python-test

GAE: Sync strava in the integration test, too.
  gae/client/test_integration.py
Due: python-test

Tools: Activate the virtualenv after defining helpers
  tools/scripts/shell.sh
Due: none

GAE: Add tests and fix cases where weight_notif used the wrong date.
  gae/backend/services/withings/test_weight_trend_notif.py
  gae/backend/services/withings/weight_trend_notif.py
Due: python-test

Support Garmin Services
  gae/api/bikebuds.py
  gae/api/models.py
  gae/backend/main.py
  gae/backend/services/garmin/__init__.py
  gae/backend/services/garmin/garmin.py
  gae/frontend/index.yaml
  gae/frontend/package-lock.json
  gae/frontend/package.json
  gae/frontend/src/Admin.js
  gae/frontend/src/GarminServiceCard.js
  gae/frontend/src/GarminServiceCard.test.js
  gae/frontend/src/PreferencesCard.js
  gae/frontend/src/Settings.js
  gae/shared/datastore/garmin/__init__.py
  gae/shared/datastore/garmin/converters.py
  gae/shared/datastore/garmin/test_converters.py
  gae/shared/datastore/series.py
  gae/shared/datastore/user.py
  gae/shared/logging_util.py
  gae/shared/services/garmin/__init__.py
  gae/shared/services/garmin/client.py
  gae/shared/task_util.py
Due: python-test, react-test

GAE: Allow garmin to set weight
  gae/backend/requirements.txt
  gae/shared/services/garmin/client.py
Due: python-test

GAE: Fix query when deleting club activities
  gae/shared/services/strava/club_worker.py
Due: python-test

Web: Improve Settings layout
  gae/frontend/src/GarminServiceCard.js
  gae/frontend/src/Preferences.js
  gae/frontend/src/Preferences.test.js
  gae/frontend/src/ServiceCard.js
  gae/frontend/src/Settings.js
Due: react-test

GAE: Use utc timezone for measures
  gae/shared/datastore/withings/converters.py
Due: python-test

Tools: Remove XXX reference
  tools/test_scripts/send_withings_event.sh
Due: none

GAE: lookup user with key or claims, update prefs
  gae/shared/datastore/user.py
Due: python-test

GAE: Sync withings weights to garmin.
  gae/api/bikebuds.py
  gae/backend/main.py
  gae/backend/services/bbfitbit/bbfitbit.py
  gae/backend/services/garmin/garmin.py
  gae/backend/services/withings/test_withings.py
  gae/backend/services/withings/weight_trend_notif.py
  gae/backend/services/withings/withings.py
  gae/frontend/services/withings/withings.py
  gae/shared/datastore/series.py
  gae/shared/datastore/user.py
  gae/shared/task_util.py
Due: python-test

GAE: Add support to backfill a services data.
  gae/api/bikebuds.py
  gae/api/models.py
  gae/backend/backfill/__init__.py
  gae/backend/backfill/backfill.py
  gae/backend/main.py
  gae/backend/requirements.txt
  gae/frontend/index.yaml
  gae/queues.sh
  gae/shared/fcm_util.py
  gae/shared/task_util.py
Due: python-test

API: Add force param to sync API
  gae/api/bikebuds.py
  gae/api/models.py
  gae/frontend/src/GarminServiceCard.js
  gae/frontend/src/ServiceCard.js
  gae/shared/task_util.py
Due: python-test, react-test

GAE: Remove unused backend endpoint, fix credentials check
  gae/backend/main.py
Due: python-test

GAE: Remove old sync state tracking cruft
  gae/backend/main.py
  gae/frontend/index.yaml
  gae/shared/task_util.py
Due: python-test

GAE: Delete sub events older than 15 minutes
  gae/backend/services/withings/withings.py
  gae/frontend/index.yaml
Due: python-test

GAE: Skip non-weight measures for processing
  gae/backend/main.py
Due: python-test

GAE: Retry garmin login if requsts fail.
  gae/shared/services/garmin/client.py
Due: python-test

GAE: Dedupe, via cloudtasks
  gae/queues.sh
Due: none

Tools: Update cloud queues when pushing deployments.
  gae/deploy.sh
Due: none

GAE: Fix wording when queueing a task in dev
  gae/frontend/test_main.py
  gae/shared/task_util.py
Due: python-test

GAE: Power up the backend app (use B4 instances).
  gae/backend/app-local.yaml
  gae/local.sh
Due: none

Web: Update npm dependencies
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

Web: Add Cache-control to /static to speed up loading
  gae/frontend/app.yaml
Due: none

Tools: fix newlines in deploy.sh
  gae/deploy.sh
Due: none

Tools: Keep the last 10 versions so that we dont lose metrics
  gae/deploy.sh
Due: none

Add API to delete a user
  gae/api/admin.py
  gae/frontend/index.yaml
  gae/frontend/src/Admin.js
Due: python-test, react-test

Tools: Try to break out of a virtual env when running local.sh
  gae/local.sh
Due: none

GAE: Upgrade dependencies
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/frontend/requirements.txt
Due: none

Web: Upgrade npm dependencies
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none
