Repository jlapenna/bikebuds: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-test, flutter-test, react-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-test
        name: 'python-test'
        entry: tools/scripts/run_python_tests.sh
        language: system
        pass_filenames: false
        files: \.(py)$
      - id: flutter-test
        name: 'flutter-test'
        entry: tools/scripts/run_flutter_tests.sh
        language: system
        pass_filenames: false
        files: \.(dart)$
      - id: react-test
        name: 'react-test'
        entry: tools/scripts/run_react_tests.sh
        language: system
        pass_filenames: false
        files: gae/frontend/src.*\.(js)$
  - repo: https://github.com/Cretezy/flutter-format-pre-commit
    rev: 4a1df675bb74dea371c17934933e257e46f8dd98
    hooks:
      - id: flutter-format
  - repo: https://github.com/python/black
    rev: 19.3b0
    hooks:
      - id: black
        language_version: python3.6
  - repo: https://github.com/prettier/prettier
    rev: 1.18.2
    hooks:
      - id: prettier
        exclude: index\.yaml|\.(js|jsx|ts|tsx)$
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.6.0
    hooks:
      - id: eslint
        entry: ./gae/frontend/node_modules/.bin/eslint --fix
        files: \.(js|jsx|ts|tsx)$
        additional_dependencies:
          - babel-eslint
          - eslint
          - eslint-config-prettier
          - eslint-plugin-flowtype
          - eslint-plugin-react
          - eslint-plugin-import
          - eslint-plugin-flowtype
          - eslint-plugin-prettier
          - eslint-plugin-react-hooks
          - eslint-plugin-jsx-a11y
          - prettier
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.8
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: detect-private-key

Tools: Add note about compiling flutter app manually
  notes.md
Due: none

Flutter: Show a basic, native measures graph
  flutter/lib/bikebuds_api_state.dart
  flutter/lib/main_screen.dart
  flutter/lib/pages/measures/measures_chart.dart
  flutter/lib/pages/measures/measures_page.dart
  flutter/lib/pages/measures/measures_state.dart
  flutter/lib/pages/pages.dart
  flutter/pubspec.yaml
  notes.md
Due: flutter-test

Flutter: Fix exception in print statement
  flutter/lib/firebase_util.dart
Due: flutter-test

Web: Fix theming.
  gae/frontend/src/theme.js
Due: react-test

Flutter: Improve sign-in UI
  flutter/lib/app.dart
  flutter/lib/bikebuds_api_state.dart
  flutter/lib/firebase_util.dart
  flutter/lib/sign_in_screen.dart
Due: flutter-test

Flutter: Support web builds, by adding index.html
  flutter/web/index.html
  flutter/web/index.html.tmpl
Due: none

Web: Hardcode bikebuds.cc as a valid CORS origin
  gae/api/main.py
  gae/frontend/main.py
  gae/shared/config.py
Due: python-test

Flutter: Do not do messaging or web embeds if running on web.
  flutter/lib/app.dart
  flutter/lib/main_content.dart
Due: flutter-test

Web: Do not pass props to SignupStepper content call
  gae/frontend/src/SignupStepper.js
Due: react-test

Flutter: Update dependencies
  flutter/pubspec.lock
Due: none

Flutter: Update flutter base config ($ flutter create .)
  flutter/.gitignore
  flutter/android/.gitignore
  flutter/android/app/src/debug/AndroidManifest.xml
  flutter/android/app/src/profile/AndroidManifest.xml
  flutter/ios/.gitignore
  flutter/pubspec.lock
  tools/scripts/shell.sh
Due: none

Flutter: Do not load anything until config is loaded
  flutter/lib/app.dart
  flutter/lib/config.dart
  flutter/release.sh
Due: flutter-test

Flutter: Update provider package to 4.0.1
  flutter/pubspec.lock
  flutter/pubspec.yaml
Due: none

Tools: Support deploying flutter to firebase hosting.
  firebase/bikebuds-next/build
  firebase/bikebuds-next/firebase.json
  firebase/bikebuds-test-next/build
  firebase/bikebuds-test-next/firebase.json
  flutter/release.sh
Due: none

Flutter: Populate UserState and ClientStateEntityState
  flutter/lib/app.dart
  flutter/lib/bikebuds_api_state.dart
  flutter/lib/client_state_entity_state.dart
  flutter/lib/firebase_util.dart
Due: flutter-test

GAE: Update GAE dependencies
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/frontend/requirements.txt
Due: none

Web: Update dependencies.
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

GAE: Do not pass self to a method
  gae/backend/services/withings/withings.py
Due: python-test

GAE: Formalize flask.abort and other responses
  gae/api/admin.py
  gae/api/main.py
  gae/api/test_main.py
  gae/backend/main.py
  gae/backend/test_main.py
  gae/frontend/main.py
  gae/frontend/services/strava/strava.py
  gae/frontend/services/withings/withings.py
  gae/frontend/test_main.py
  gae/shared/responses.py
Due: python-test

GAE: Split up frontent test cases
  gae/backend/test_main.py
  gae/frontend/test_main.py
Due: python-test

GAE: Give models and the default api their own namespaces
  gae/api/bikebuds.py
  gae/api/main.py
  gae/api/models.py
  gae/api/test_main.py
Due: python-test

GAE: Helper method for filter param
  gae/api/main.py
Due: python-test

Web: Add support for an admin page, and connecting a bot
  gae/frontend/package-lock.json
  gae/frontend/package.json
  gae/frontend/src/Admin.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/Chrome.js
  gae/frontend/src/DrawerContent.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/MainScreen.js
  gae/frontend/src/ServiceCard.js
Due: react-test

GAE: APIs and frontend support for bot auth
  gae/api/admin.py
  gae/api/bikebuds.py
  gae/api/models.py
  gae/frontend/services/strava/strava.py
  gae/shared/datastore/bot.py
Due: python-test

GAE: Support slack events
  gae/frontend/main.py
  gae/frontend/services/slack/slack.py
  gae/shared/config.py
Due: python-test

Web: Pass bikebudsApi and adminApi not apiClient
  gae/frontend/src/Club.js
  gae/frontend/src/DevicesFormControl.js
  gae/frontend/src/DevicesFormControl.test.js
  gae/frontend/src/Events.js
  gae/frontend/src/Events.test.js
  gae/frontend/src/EventsListCard.js
  gae/frontend/src/FcmManager.js
  gae/frontend/src/Home.js
  gae/frontend/src/MainContent.js
  gae/frontend/src/MainScreen.js
  gae/frontend/src/MeasuresWrapper.js
  gae/frontend/src/PreferencesCard.js
  gae/frontend/src/PreferencesCard.test.js
  gae/frontend/src/ProfileCard.js
  gae/frontend/src/ProfileWrapper.js
  gae/frontend/src/ServiceCard.js
  gae/frontend/src/Settings.js
  gae/frontend/src/SignupStepper.test.js
Due: react-test

GAE: fix exception formatting in strava client wrapper
  gae/backend/services/strava/client.py
Due: python-test

GAE: Make auth_util check cookies for admins
  gae/api/bikebuds.py
  gae/shared/auth_util.py
Due: python-test

GAE: Support Clubs as driven by the bot user
  gae/api/admin.py
  gae/api/bikebuds.py
  gae/api/services/strava/__init__.py
  gae/api/services/strava/strava.py
  gae/backend/main.py
  gae/backend/services/slack/slack.py
  gae/backend/services/strava/athlete_worker.py
  gae/backend/services/strava/events_worker.py
  gae/backend/services/strava/strava.py
  gae/frontend/index.yaml
  gae/frontend/src/Admin.js
  gae/frontend/src/MainContent.js
  gae/shared/datastore/strava/converters.py
  gae/shared/hash_util.py
  gae/shared/services/strava/__init__.py
  gae/shared/services/strava/client.py
  gae/shared/services/strava/club_worker.py
  notes.md
Due: python-test, react-test

Web: Do not show empty fields in ActivityDetail or RouteDetail
  gae/frontend/src/ActivityDetail.js
  gae/frontend/src/RouteDetail.js
Due: react-test

GAE: Use Slack APIs to unfurl strava URLs
  gae/backend/main.py
  gae/backend/requirements.txt
  gae/backend/services/slack/__init__.py
  gae/backend/services/slack/slack.py
  gae/backend/services/slack/templates.py
  gae/backend/services/slack/test_slack.py
  gae/backend/test_main.py
  gae/frontend/requirements.txt
  gae/frontend/services/slack/slack.py
  gae/frontend/test_main.py
  gae/queues.sh
  gae/shared/logging_util.py
  gae/shared/slack_util.py
  gae/shared/task_util.py
  notes.md
  tools/setup/dev.sh
Due: python-test

GAE: Helper to generate a bot entity key
  gae/shared/datastore/bot.py
Due: python-test

GAE: Add index recommended in a prod crash
  gae/frontend/index.yaml
Due: none

Support unfurling routes
  gae/backend/services/slack/slack.py
  gae/backend/services/slack/templates.py
  gae/backend/services/slack/test_slack.py
  gae/frontend/services/strava/strava.py
Due: python-test

Web: Fix ActivitiesListCard
  gae/frontend/src/ActivitiesListCard.js
  gae/frontend/src/Club.js
  gae/frontend/src/Club.test.js
  gae/frontend/src/Events.js
Due: react-test

Web: Create a session before triggering admin bot flow
  gae/frontend/src/Admin.js
Due: react-test

GAE: Gracefully handle interior ValueException verifying claims
  gae/shared/auth_util.py
Due: python-test

Web: Add match to Settings.propTypes
  gae/frontend/src/Settings.js
Due: react-test

Better configs
  gae/backend/services/slack/slack.py
  gae/frontend/src/ActivityDetail.js
  gae/frontend/src/App.test.js
  gae/frontend/src/AuthWrapper.js
  gae/frontend/src/FcmManager.js
  gae/frontend/src/ProfileCard.js
  gae/frontend/src/RouteDetail.js
  gae/frontend/src/ServiceCard.js
  gae/frontend/src/SignupStepper.js
  gae/frontend/src/SwagWrapper.js
  gae/frontend/src/config.js
  gae/frontend/src/firebase-web-next.json
  gae/frontend/src/firebase-web.json
  gae/frontend/src/firebase_util.js
  gae/frontend/src/session_util.js
  gae/frontend/src/setupTests.js
  gae/shared/config.py
Due: python-test, react-test

Web: Add units to converter methods, add readableElevation
  gae/frontend/src/convert.js
Due: react-test
