Repository jlapenna/bikebuds: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-test, flutter-test, react-test

python-test:
  name: python-test
  entry: tools/scripts/run_python_tests.sh
  language: system
  pass_filenames: false

flutter-test:
  name: flutter-test
  entry: tools/scripts/run_flutter_tests.sh
  language: system
  pass_filenames: false

react-test:
  name: react-test
  entry: tools/scripts/run_react_tests.sh
  language: system
  pass_filenames: false

GAE: Use task names for withings events to de-dupe events.
  gae/frontend/services/strava/strava.py
  gae/frontend/services/withings/withings.py
  gae/shared/datastore/subscription_event.py
  gae/shared/datastore/test_subscription_event.py
  gae/shared/task_util.py
Due: python-test

GAE: Use mock's assert methods for better errors
  gae/backend/test_main.py
  gae/frontend/test_main.py
Due: python-test

Tooling: rewrite "frontend" to default in watch_logs
  tools/scripts/shell.sh
Due: none

GAE: Log when we receive a withings event.
  gae/frontend/services/withings/withings.py
Due: python-test

GAE: Use Track all subscriptions.
  gae/backend/services/withings/withings.py
  gae/shared/datastore/subscription.py
Due: python-test

Tooling: Echo the different phases of a deploy.
  gae/deploy.sh
Due: none

Tooling: Update pre-commit flake8 revision.
  .pre-commit-config.yaml
Due: none

GAE: Add "remove subscription" admin API call to brute force withings issues.
  gae/api/admin.py
  gae/backend/services/withings/weight_trend_notif.py
  gae/backend/services/withings/withings.py
  gae/shared/responses.py
  gae/shared/services/__init__.py
  gae/shared/services/withings/__init__.py
  gae/shared/services/withings/client.py
Due: python-test

filter out non-weight measures when fetching them.
  gae/api/main.py
  gae/frontend/src/MeasuresWrapper.js
Due: python-test, react-test

Fix withings refreshes by using expires_at in client construction
  gae/backend/services/withings/withings.py
  gae/shared/services/withings/client.py
  notes.md
Due: python-test

Unify how we construct entities and what gets indexed.
  gae/backend/services/strava/test_strava.py
  gae/frontend/services/strava/strava.py
  gae/frontend/services/withings/withings.py
  gae/shared/datastore/activity.py
  gae/shared/datastore/athlete.py
  gae/shared/datastore/client_state.py
  gae/shared/datastore/club.py
  gae/shared/datastore/entity_util.py
  gae/shared/datastore/fcm.py
  gae/shared/datastore/subscription.py
  gae/shared/datastore/subscription_event.py
  gae/shared/datastore/test_subscription.py
Due: python-test

GAE: Ensure the frontend serves pngs and html files raw
  gae/frontend/app.yaml
Due: none

GAE: Upgrade react-scripts (to 3.0.1) and other packages.
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

Adjust weight trend notification
  gae/backend/services/withings/weight_trend_notif.py
Due: python-test

Flutter: Add android ic_bike assest and use as default notification icon
  flutter/android/app/src/main/AndroidManifest.xml
  flutter/android/app/src/main/res/drawable/ic_bike.xml
Due: none

Flutter: Update app deps
  flutter/pubspec.yaml
Due: none

Flutter: Update datetime picker to latest API
  flutter/lib/event_screen.dart
  flutter/lib/events_list.dart
Due: flutter-test

Flutter: Remove start of signup code
  flutter/lib/main_screen.dart
  flutter/lib/signup_content.dart
Due: flutter-test

Flutter: Better support notifications
  flutter/lib/app.dart
Due: flutter-test

GAE: Fix accidentally forked strava EventsWorker
  gae/backend/main.py
  gae/backend/services/strava/events_worker.py
  gae/backend/services/strava/strava.py
  gae/backend/services/strava/test_events_worker.py
  gae/backend/test_main.py
Due: python-test

GAE: Fix accidental strava RPC retries in faulty retry logic
  gae/backend/services/strava/client.py
Due: python-test

GAE: Tighten up auth token management
  gae/backend/main.py
  gae/backend/services/bbfitbit/bbfitbit.py
  gae/backend/test_main.py
  gae/shared/datastore/service.py
  gae/shared/responses.py
  gae/shared/services/withings/client.py
Due: python-test

GAE: Fix android notification TTL
  gae/backend/services/withings/weight_trend_notif.py
Due: python-test

GAE: Fix fetching series, it can be None
  gae/api/main.py
Due: python-test

Web: Install material-ui/codemod and cleanup
  gae/frontend/package-lock.json
  gae/frontend/package.json
  gae/frontend/src/SignupStepper.js
  gae/frontend/src/StandaloneSignup.js
Due: react-test

Specify the FCM client type when registering.
  flutter/lib/bikebuds_util.dart
  gae/frontend/src/FcmManager.js
  gae/shared/datastore/client_state.py
Due: python-test, flutter-test, react-test

Web: Add settings card to control notification clients
  gae/api/main.py
  gae/frontend/index.yaml
  gae/frontend/src/ClientsCard.js
  gae/frontend/src/ClientsCard.test.js
  gae/frontend/src/Settings.js
Due: python-test, react-test

Web: Clean up card style
  gae/frontend/src/ClientsCard.js
  gae/frontend/src/PreferencesCard.js
  gae/frontend/src/ProfileCard.js
  gae/frontend/src/ServiceCard.js
  gae/frontend/src/Settings.js
Due: react-test

Web: Merge ClientsCard into PreferencesCard
  gae/frontend/src/ClientsCard.js
  gae/frontend/src/DevicesFormControl.js
  gae/frontend/src/DevicesFormControl.test.js
  gae/frontend/src/PreferencesCard.js
  gae/frontend/src/Settings.js
Due: react-test

GAE: Pass zero for expiry time if it not stored.
  gae/shared/services/withings/client.py
Due: python-test

Web: Clean up card styles
  gae/frontend/src/ActivitiesListCard.js
  gae/frontend/src/PreferencesCard.js
Due: react-test

Include the modified date in ClientState responses
  gae/api/main.py
  gae/frontend/src/DevicesFormControl.js
Due: python-test, react-test

GAE: Track created date for client state
  gae/api/main.py
  gae/shared/datastore/client_state.py
Due: python-test

GAE: Use dispatch.yaml to manage subdomains.
  gae/deploy.sh
  gae/frontend/dispatch.yaml
Due: none

Web: Use created date for showing devices.
  gae/frontend/src/DevicesFormControl.js
Due: react-test

Tools: Remove virtualenv alias
  gae/local_devserver.sh
  tools/scripts/base.sh
Due: none

Tools: Improve virtualenv creation
  tools/scripts/base.sh
  tools/scripts/run_python_tests.sh
Due: none

GAE: Force HTTPS for frontend.
  gae/frontend/main.py
  gae/frontend/requirements.txt
  gae/frontend/test_main.py
Due: python-test

Flutter: Generalize drawer list item generation.
  flutter/lib/main_content.dart
  flutter/lib/main_screen.dart
  flutter/lib/page.dart
  flutter/lib/settings_content.dart
Due: flutter-test

Path conditions:
  python-test: any of: \.(py)$
  flutter-test: any of: \.(dart)$
  react-test: any of: gae/frontend/src.*\.(js)$
