Repository jlapenna/bikebuds: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-test, flutter-test, react-test

python-test:
  name: python-test
  entry: tools/scripts/run_python_tests.sh
  language: system
  pass_filenames: false

flutter-test:
  name: flutter-test
  entry: tools/scripts/run_flutter_tests.sh
  language: system
  pass_filenames: false

react-test:
  name: react-test
  entry: tools/scripts/run_react_tests.sh
  language: system
  pass_filenames: false

GAE: Improve transactions in task_util fix exception
  gae/shared/task_util.py
Due: python-test

Update assets, fix flat edge of round logo
  assets/logo-round.png
  assets/logo-round.svg
  assets/logo.png
  assets/logo.svg
Due: none

Flutter: Update dependencies
  flutter/pubspec.lock
Due: none

Slack: Unfurl Activities; required improvements to activity sync
  gae/backend/services/slack/slack.py
  gae/backend/services/slack/templates.py
  gae/backend/services/slack/test_slack.py
  gae/backend/services/strava/events_worker.py
  gae/backend/services/strava/strava.py
  gae/backend/services/strava/test_events_worker.py
  gae/frontend/index.yaml
  gae/shared/datastore/strava/converters.py
Due: python-test

Web: Setup stepper only auths strava
  gae/frontend/src/SignupStepper.js
Due: react-test

Web: Redo drawer, urls to align with bot app
  gae/frontend/src/DrawerContent.js
  gae/frontend/src/Events.js
  gae/frontend/src/Health.js
  gae/frontend/src/MainContent.js
Due: react-test

Only query for keys when about to delete old club activities
  gae/shared/services/strava/club_worker.py
Due: python-test

GAE: Limit returned activities to 10
  gae/api/bikebuds.py
Due: python-test

GAE: Handle primary photo in activities
  gae/api/models.py
  gae/shared/datastore/strava/converters.py
Due: python-test

Slack: Improve visuals for unfurled links
  gae/backend/services/slack/slack.py
  gae/backend/services/slack/templates.py
  gae/backend/services/slack/test_slack.py
Due: python-test

Web: Use LoadScriptNext to fix duplicate loading error
  gae/frontend/src/ActivityDetail.js
Due: react-test

Web: Add users to admin screen.
  gae/api/admin.py
  gae/api/bikebuds.py
  gae/api/models.py
  gae/frontend/src/Admin.js
Due: python-test, react-test

Slack: Support an activity with no polyline (dont throw exception)
  gae/backend/services/slack/slack.py
  gae/backend/services/slack/test_slack.py
Due: python-test

Update all dependencies
  flutter/pubspec.lock
  flutter/pubspec.yaml
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/frontend/package-lock.json
  gae/frontend/package.json
  gae/frontend/requirements.txt
Due: none

Web: Handle unknown urls while signed-in (like /signin) by redirecting
  flutter/pubspec.lock
  flutter/pubspec.yaml
  gae/frontend/src/MainContent.js
Due: react-test

Natively support Health charts
  flutter/lib/pages/measures/measures_chart.dart
  flutter/pubspec.lock
  flutter/pubspec.yaml
  flutter/test/pages/measures/measures_chart_test.dart
Due: flutter-test

GAE: Migrate to flask-restx, pin Werkzeug
  gae/api/admin.py
  gae/api/bikebuds.py
  gae/api/main.py
  gae/api/models.py
  gae/api/requirements.txt
  gae/backend/requirements.txt
  gae/frontend/index.yaml
  gae/frontend/requirements.txt
Due: python-test

Update flutter app, as we added a UserState api model.
  flutter/lib/app.dart
  flutter/lib/pages/events/event_page.dart
  flutter/lib/pages/measures/measures_chart.dart
  flutter/lib/widgets/loading.dart
Due: flutter-test

Flutter: Better native charts
  flutter/lib/pages/measures/measures_chart.dart
  flutter/lib/pages/measures/measures_page.dart
Due: flutter-test

Flutter: Support fully offline development
  flutter/lib/app.dart
  flutter/lib/bikebuds_api_state.dart
  flutter/lib/fake_user_wrapper.dart
  flutter/lib/firebase_user_wrapper.dart
  flutter/lib/firebase_util.dart
  flutter/lib/main_screen.dart
  flutter/lib/pages/settings/profile_card.dart
  flutter/lib/user_state.dart
  flutter/test/pages/settings/profile_card_test.dart
Due: flutter-test

Flutter: Use Measures model within flutter chart
  flutter/lib/pages/measures/measures_chart.dart
  gae/api/models.py
Due: python-test, flutter-test

Tools: Allow ngrok.io in local.sh
  gae/local.sh
Due: none

Tools: Flake should ignore missing whitespace for ,
  .pre-commit-config.yaml
Due: none

Flutter: Remove home option from drawer
  flutter/lib/pages/pages.dart
Due: flutter-test

GAE: Crawl Activity URLs when we don't have them in the DB
  gae/backend/requirements.txt
  gae/backend/services/slack/slack.py
  gae/backend/services/slack/templates.py
  gae/backend/services/slack/test_slack.py
  gae/backend/services/slack/test_unfurl_activity.py
  gae/backend/services/slack/test_unfurl_route.py
  gae/backend/services/slack/test_util.py
  gae/backend/services/slack/testutil.py
  gae/backend/services/slack/unfurl_activity.py
  gae/backend/services/slack/unfurl_route.py
  gae/backend/services/slack/util.py
Due: python-test

Flutter: Render better charts; including unit preference
  flutter/lib/pages/measures/charts_workarounds.dart
  flutter/lib/pages/measures/measures_chart.dart
  flutter/lib/pages/measures/measures_page.dart
  flutter/lib/pages/measures/measures_state.dart
  flutter/lib/user_state.dart
Due: flutter-test

Flutter: Support storing some entities locally.
  flutter/lib/app.dart
  flutter/lib/client_state_entity_state.dart
  flutter/lib/pages/measures/measures_chart.dart
  flutter/lib/pages/measures/measures_page.dart
  flutter/lib/pages/measures/measures_state.dart
  flutter/lib/storage/entity_storage.dart
  flutter/lib/storage/storage.dart
  flutter/pubspec.lock
  flutter/pubspec.yaml
  flutter/test/pages/measures/measures_chart_test.dart
Due: flutter-test

Flutter: Refresh measures when a notification requests it, show snackbar.
  flutter/lib/app.dart
  flutter/lib/main_content.dart
  flutter/lib/main_screen.dart
  gae/frontend/index.yaml
Due: flutter-test

Flutter: Visual improvements to graphs
  flutter/lib/pages/measures/measures_chart.dart
  flutter/lib/pages/measures/measures_page.dart
  flutter/lib/pages/measures/measures_state.dart
  flutter/lib/user_state.dart
  flutter/pubspec.lock
  flutter/pubspec.yaml
Due: flutter-test

Flutter: MeasuresChart: setState when measures change.
  flutter/lib/pages/measures/measures_chart.dart
Due: flutter-test

GAE: Request weight refresh in weight notif
  gae/backend/services/withings/weight_trend_notif.py
Due: python-test

Flutter: Store series unconverted; convert to correct unit at read.
  flutter/lib/pages/measures/measures_state.dart
Due: flutter-test

Flutter: Support background notifications.
  flutter/android/app/build.gradle
  flutter/android/app/src/main/AndroidManifest.xml
  flutter/android/app/src/main/java/cc/bikebuds/Application.java
  flutter/lib/app.dart
  flutter/lib/firebase_messaging.dart
  flutter/lib/pages/measures/measures_page.dart
Due: flutter-test

Tools: Load the FCM server key into the shell env.
  tools/scripts/shell.sh
Due: none

Flutter: Update packages
  flutter/pubspec.lock
Due: none

Flutter: Put runApp back in its standard place, main.dart
  flutter/lib/app.dart
  flutter/lib/main.dart
  flutter/release.sh
Due: flutter-test

Tools: clean up outdated client code
  gae/client/auth_helper.py
  gae/client/requirements.txt
  gae/client/startup.py
Due: python-test

Web: Fix copyright
  gae/frontend/src/SegmentDetail.js
  gae/frontend/src/SegmentsListCard.js
Due: react-test

API: Add support for fetching starred segments.
  gae/api/bikebuds.py
  gae/api/models.py
  gae/backend/services/strava/strava.py
  gae/frontend/index.yaml
  gae/frontend/src/Events.js
  gae/frontend/src/SegmentDetail.js
  gae/frontend/src/SegmentsListCard.js
  gae/shared/datastore/segment.py
  gae/shared/datastore/strava/converters.py
Due: python-test, react-test

GAE: Include gcp_server creds in config.
  gae/shared/config.py
Due: python-test

Path conditions:
  python-test: any of: \.(py)$
  flutter-test: any of: \.(dart)$
  react-test: any of: gae/frontend/src.*\.(js)$
