Repository jlapenna/bikebuds: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-test, flutter-test, react-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: python-test
        name: 'python-test'
        entry: tools/scripts/run_python_tests.sh
        language: system
        pass_filenames: false
        files: \.(py)$
      - id: flutter-test
        name: 'flutter-test'
        entry: tools/scripts/run_flutter_tests.sh
        language: system
        pass_filenames: false
        files: \.(dart)$
      - id: react-test
        name: 'react-test'
        entry: tools/scripts/run_react_tests.sh
        language: system
        pass_filenames: false
        files: gae/frontend/src.*\.(js)$
  - repo: https://github.com/Cretezy/flutter-format-pre-commit
    rev: 4a1df675bb74dea371c17934933e257e46f8dd98
    hooks:
      - id: flutter-format
  - repo: https://github.com/python/black
    rev: 19.3b0
    hooks:
      - id: black
        language_version: python3.6
  - repo: https://github.com/prettier/prettier
    rev: 1.18.2
    hooks:
      - id: prettier
        exclude: index\.yaml|\.(js|jsx|ts|tsx)$
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.6.0
    hooks:
      - id: eslint
        entry: ./gae/frontend/node_modules/.bin/eslint --fix
        files: \.(js|jsx|ts|tsx)$
        additional_dependencies:
          - babel-eslint
          - eslint
          - eslint-config-prettier
          - eslint-plugin-flowtype
          - eslint-plugin-react
          - eslint-plugin-import
          - eslint-plugin-flowtype
          - eslint-plugin-prettier
          - eslint-plugin-react-hooks
          - eslint-plugin-jsx-a11y
          - prettier
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.8
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: detect-private-key

Web: Dont try to show fat ratio line when there are not fat ratio elements.
  gae/frontend/src/MeasuresCard.js
Due: react-test

Web: Unify progress indicators
  gae/frontend/src/ActivitiesListCard.js
  gae/frontend/src/MeasuresCard.js
  gae/frontend/src/MeasuresSummaryCard.js
  gae/frontend/src/ServiceCard.js
Due: react-test

Tools: make set_prod_environment (or dev) a no-op if already set
  tools/scripts/base.sh
Due: none

Flutter: Support bundle upload
  flutter/play_upload.py
  flutter/release.sh
Due: python-test

Flutter: upgrade gms plugin
  flutter/android/build.gradle
Due: none

Flutter: Migrate to Provider state pattern.
  flutter/lib/app.dart
  flutter/lib/bikebuds_api_state.dart
  flutter/lib/bikebuds_util.dart
  flutter/lib/client_state_entity_state.dart
  flutter/lib/config.dart
  flutter/lib/firebase_util.dart
  flutter/lib/main_content.dart
  flutter/lib/main_screen.dart
  flutter/lib/pages/events/event_page.dart
  flutter/lib/pages/events/events_list.dart
  flutter/lib/pages/settings/profile_card.dart
  flutter/lib/privacy_util.dart
  flutter/lib/sign_in_screen.dart
  flutter/lib/user_model.dart
  flutter/lib/user_state.dart
  flutter/lib/widgets/loading.dart
  flutter/lib/widgets/mobile_embed.dart
  flutter/pubspec.yaml
  flutter/test/pages/settings/profile_card_test.dart
Due: flutter-test

Web: Use makecancelable to avoid work after unmounting
  gae/frontend/package-lock.json
  gae/frontend/package.json
  gae/frontend/src/ServiceCard.js
Due: react-test

Web: Avoid 'is not assignable to type CreateCSSProperties' errors
  gae/frontend/src/ActivitiesListCard.js
  gae/frontend/src/ActivityDetail.js
  gae/frontend/src/Chrome.js
  gae/frontend/src/ClubAvatar.js
  gae/frontend/src/DevicesFormControl.js
  gae/frontend/src/DrawerContent.js
  gae/frontend/src/EventDetail.js
  gae/frontend/src/Events.js
  gae/frontend/src/EventsListCard.js
  gae/frontend/src/Home.js
  gae/frontend/src/MainScreen.js
  gae/frontend/src/MeasuresCard.js
  gae/frontend/src/MeasuresSummaryCard.js
  gae/frontend/src/ServiceCard.js
Due: react-test

Web: Better formatting for measures cards
  gae/frontend/src/Home.js
  gae/frontend/src/MeasuresCard.js
Due: react-test

Web: Add match proptype to SignInScreen
  gae/frontend/src/SignInScreen.js
Due: react-test

GAE: Fetch Routes from Strava
  gae/api/main.py
  gae/backend/services/strava/strava.py
  gae/client/test_integration.py
  gae/frontend/index.yaml
  gae/shared/datastore/route.py
  gae/shared/datastore/strava/converters.py
Due: python-test

Web: Remove unused ActivitiesListCard, Events props
  gae/frontend/src/ActivitiesListCard.js
  gae/frontend/src/Events.js
Due: react-test

All: Enable Dark Mode
  flutter/lib/app.dart
  flutter/lib/widgets/mobile_embed.dart
  gae/frontend/src/App.js
  gae/frontend/src/theme.js
Due: flutter-test, react-test

Tools: Dont pub get during flutter tests
  tools/scripts/run_flutter_tests.sh
Due: none

fix timestamp
  gae/shared/datastore/strava/converters.py
Due: python-test

Web: BikebudsFetcher
  gae/frontend/src/bikebuds_api.js
Due: react-test

GAE: s/XXX/XYZ_TOKEN/g
  gae/backend/services/strava/test_events_worker.py
Due: python-test

Web: Install jest type definitions
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

Web: Show Routes on Rides
  gae/frontend/src/Events.js
  gae/frontend/src/Events.test.js
  gae/frontend/src/RouteDetail.js
  gae/frontend/src/RoutesListCard.js
Due: react-test

Web: Replace ActivitiesWrapper with BikebudsWrapper
  gae/frontend/src/ActivitiesListCard.js
  gae/frontend/src/ActivitiesWrapper.js
  gae/frontend/src/Events.js
Due: react-test

Web: Make PrefsCard, DeviceFormControl XHRs cancelable
  gae/frontend/src/DevicesFormControl.js
  gae/frontend/src/PreferencesCard.js
Due: react-test

Web: Remove warnings from tests: style, required props, etc
  gae/frontend/src/ActivityDetail.js
  gae/frontend/src/Chrome.js
  gae/frontend/src/Club.js
  gae/frontend/src/DevicesFormControl.test.js
  gae/frontend/src/PreferencesCard.test.js
  gae/frontend/src/ProfileCard.js
  gae/frontend/src/RouteDetail.js
  gae/frontend/src/ServiceCard.test.js
  gae/frontend/src/Settings.js
  gae/frontend/src/SignInScreen.js
  gae/frontend/src/SignInScreen.test.js
  gae/frontend/src/Signup.js
  gae/frontend/src/Signup.test.js
  gae/frontend/src/SignupStepper.js
  gae/frontend/src/SignupStepper.test.js
  gae/frontend/src/SpinnerScreen.js
  gae/frontend/src/StandaloneSignup.js
  gae/frontend/src/bikebuds_api.js
  gae/frontend/src/firebase_util.js
  gae/frontend/src/theme.js
Due: react-test

Web: Fix bad club links
  gae/frontend/src/ClubAvatar.js
Due: react-test

Web: Dont include stack in log when firestore is not enabled
  gae/frontend/src/Events.js
  gae/frontend/src/firebase_util.js
Due: react-test

Web: Call correct signout; Ensure signOut calls correct promises
  gae/frontend/src/ProfileCard.js
  gae/frontend/src/Settings.js
  gae/frontend/src/firebase_util.js
Due: react-test

Web: Define more proptypes to fix YcmDiag errors.
  gae/frontend/src/ProfileCard.js
  gae/frontend/src/ServiceCard.js
  gae/frontend/src/Settings.js
Due: react-test

Flutter: Add a user avatar and name to the drawer
  flutter/lib/app.dart
  flutter/lib/main_screen.dart
  flutter/lib/privacy_util.dart
  flutter/lib/sign_in_screen.dart
Due: flutter-test

Flutter: Update Flutter Dependencies
  flutter/.gitignore
  flutter/android/gradle.properties
  flutter/lib/app.dart
  flutter/lib/firebase_util.dart
  flutter/pubspec.yaml
Due: flutter-test

Tools: Update Developer Console API usage
  flutter/play_upload.py
Due: python-test

Flutter: Clean up API defining FirebaseSignInState
  flutter/lib/firebase_util.dart
  flutter/lib/sign_in_screen.dart
Due: flutter-test

Web: Update dependencies
  gae/frontend/package-lock.json
  gae/frontend/package.json
Due: none

Web: Include match in set of props for SignInScreen
  gae/frontend/src/SignInScreen.js
Due: react-test

Web: Fix dark mode
  gae/frontend/src/App.js
  gae/frontend/src/theme.js
Due: react-test

Flutter: Do not not try to refresh MobileEmbed auth if it fails
  flutter/lib/widgets/mobile_embed.dart
Due: flutter-test

Flutter: Fix theming
  flutter/lib/app.dart
Due: flutter-test

Flutter: Clean up authentication in prep for better offline support.
  flutter/lib/app.dart
  flutter/lib/bikebuds_api_state.dart
  flutter/lib/config.dart
  flutter/lib/firebase_util.dart
  flutter/lib/sign_in_screen.dart
  flutter/lib/widgets/loading.dart
Due: flutter-test

Tools: only format flutter in the flutter directory
  .pre-commit-config.yaml
Due: none

Tools: Update pre-commit black to python3.7
  .pre-commit-config.yaml
Due: none

GAE: Dont error if unable ot parse get_series request
  gae/api/main.py
Due: python-test

Flutter: add method to get_series
  flutter/lib/bikebuds_api_state.dart
Due: flutter-test
